div.row
  div.four.columns
    ul.nes-list.is-disc
      if(user)
        li
          a(href=`/day/${today.year}/${today.month}/${today.day}`) Today
        li
          a(href='/patterns') Patterns
      else
        
  div.eight.columns
    ul.nes-list.is-disc(style="float:right")
      if(user)
        li
          =user.name
          img.nes-avatar.is-rounded.is-medium(src=`${user.imageUrl}`, style='image-rendering: pixelated;')
        li
          a(href='/logout') Logout
      else
        li
          i.nes-icon.google.is-med
          a(href='/login') Login
       


