extends layout

block content
  p Welcome to Pattern Journal!
  ul
    li Count good and bad habits
    li Count attendance at a function
  p Keep track of things, and zoom out to see bigger patterns.
