extends layout

block content
  h4 Welcome to Pattern Journal!
  ul.nes-list.is-disc(style="padding:2em;")
    li Count good and bad habits
    li Count attendance at a function
    li Track how you're eating or sleeping
    li Track if you feel happy or sad, healthy or sick 
