doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/skeleton.css')
    link(rel='stylesheet', href='/stylesheets/nes.css')
    link(rel='stylesheet', href='/stylesheets/press-start-font.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    include ./header.pug
   
    include ./menu.pug
    block content
    include ./footer.pug
