ul
  if(user)
    li
      a(href='/patterns') Patterns
    li
      a(href='/day/2012/04/20') Day
    li
      a(href='/logout') Logout
  else
    li
      i.nes-icon.google.is-med
      a(href='/login') Login