extends ../layout

block content
  form(method='POST' action='/patterns')
    div.form-group
      label(for='name') Name:
      input#name.form-control(type='text', placeholder='Name', name='name')
    div.form-group
      label(for='color') Color:
      input#color.form-control(type='text', placeholder='Color', name='color')
    button.bnt.btn-primary(type='submit') Create