doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/skeleton.css')
    link(rel='stylesheet', href='/stylesheets/nes.css')
    link(rel='stylesheet', href='/stylesheets/press-start-font.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.container
      include ./includes/header.pug
      include ./includes/menu.pug
      include ./includes/flash.pug
      block content
      include ./includes/footer.pug
